<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>About Us</title>
</head>

<body>
    <!-- navbar  -->
    <nav class="navbar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-list" id="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/products-page">Products</a></li>
            <li class=" active"><a href="/about">About Us</a></li>
        </ul>
        <ul class="nav-end">
            <li>
                <a href="/profile"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="/cart"><i class="fa fa-cart-plus"></i></a>
            </li>
        </ul>
        <ul class="menu-list-responsive">
            <li><a href="/home">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>

    <div class="heading">
        About Us
    </div>

    <div class="slogan-section">
        <img src="../static/media/about-bg.jpg" alt="">
        <p class="slogan">
            The City Never Sleeps!
        </p>
        <p class="subscript">
            - Our Motto
        </p>
    </div>

    <div class="about-section">
        <h2>Who are we?</h2>
        We are guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. We strive to be Earth’s Most Customer-Centric Company, Earth’s Best Employer, and Earth’s
        Safest Place to Work. Customer reviews, 1-Click shopping, personalized recommendations, are some of the things that we have pioneered.
        <br>
    </div>

    <!-- Footer here  -->
    <footer class="footer">
        <span class="footer-item">
            <p class="reach-us">
                <strong>Reach Us at:</strong><br>
                ABV-IIITM, Gwalior<br>
                Morena Link Road<br>
                Madhya Pradesh,India<br>
                PIN-474010<br>
            </p>
        </span>
        <span class="footer-item texts">
            <strong>Follow Us on:</strong><br>
            <a href=""><i class="fab fa-facebook-square"></i> Facebook</a><br>
            <a href=""><i class="fab fa-twitter-square"></i> Twitter</a><br>
            <a href=""><i class="fab fa-instagram-square"></i> Instagram</a><br>
        </span>
        <span class="footer-item texts addn">
            <a href="/seller-login">Register as a seller</a><br>
            <a href="#">Subscribe to deals and offers</a><br>
            <a href="/about">About Us</a>
        </span>
        <span class="footer-item texts">
            <a href="">Copyrights Reserved <br>© 2021-2022 </a><br>
            <a href="">Terms and Conditions</a>
        </span>

    </footer>


</body>
<script src="../scripts/navbar.js"></script>
<script src="https://kit.fontawesome.com/2c32a0aecc.js" crossorigin="anonymous"></script>

</html>