<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/cart.css">
    <link rel="stylesheet" href="../static/css/footer.css">

    <title>My Cart</title>
</head>

<body>
    <!-- navbar  -->
    <nav class="navbar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-list" id="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/products-page">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
        <ul class="nav-end">
            <li>
                <a href="/profile"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="/cart"><i class="fa fa-cart-plus active"></i></a>
            </li>
        </ul>
        <ul class="menu-list-responsive">
            <li><a href="/home">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>

    <!-- Card container  -->
    <div class="heading">
        My Cart
        <hr style="width: 70%;margin:auto">
    </div>

    <p class="empty-cart">
        Looks like you haven't added anything to your cart yet.
        <br> <a href="/products-page">Go to the Products and start shopping.</a>
    </p>

    <div class="card-container">
    </div>

    <!-- Calculating total amount -->
    <div class="final-section">
        <div class="calculation-container">
            <span class="row">
                <p>Total Items</p>
                <p class="total-items values">17</p>
            </span>
            <span class="row">
                <p>Total Cost of Products</p>
                <p class="total-cost values">10000</p>
            </span>
            <span class="row">
                <p>Delivery Charge</p>
                <p class="total-delivery values">200</p>
            </span>
            <span class="row total">
                <p>Total Amount</p>
                <p class="total-amount values">10200</p>
            </span>
        </div>
        <div class="checkout-btn-section">
            <input type="checkbox" id="terms" name="terms" value="">
            <label for="vehicle1"> I agree to all the <a href="">Terms and Conditions</a></label><br>
            <button class="checkout-btn" onclick="purchased()" type="button">Proceed to Checkout</button>
        </div>
    </div>



    <!-- Footer here  -->
    <footer class="footer">
        <span class="footer-item">
            <p class="reach-us">
                <strong>Reach Us at:</strong><br>
                ABV-IIITM, Gwalior<br>
                Morena Link Road<br>
                Madhya Pradesh,India<br>
                PIN-474010<br>
            </p>
        </span>
        <span class="footer-item texts">
            <strong>Follow Us on:</strong><br>
            <a href=""><i class="fab fa-facebook-square"></i> Facebook</a><br>
            <a href=""><i class="fab fa-twitter-square"></i> Twitter</a><br>
            <a href=""><i class="fab fa-instagram-square"></i> Instagram</a><br>
        </span>
        <span class="footer-item texts addn">
            <a href="/seller-login">Register as a seller</a><br>
            <a href="#">Subscribe to deals and offers</a><br>
            <a href="/about">About Us</a>
        </span>
        <span class="footer-item texts">
            <a href="">Copyrights Reserved <br>© 2021-2022 </a><br>
            <a href="">Terms and Conditions</a>
        </span>

    </footer>
</body>
<script src="../scripts/cart.js"></script>
<script src="../scripts/navbar.js"></script>
<script src="https://kit.fontawesome.com/2c32a0aecc.js" crossorigin="anonymous"></script>

</html>