<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign-Up</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body class="body">
    <div class="form-modal">

        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">log in</button>
            <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
        </div>

        <div id="login-form">
            <form>
                <p class="user-type">Customer</p>
                <input type="text" name="username" id="username" placeholder="Enter email or username" />
                <input type="password" name="password" id="password" placeholder="Enter password" />
                <button type="button" onclick="customer_login()" class="btn login">login</button>
            </form>
        </div>

        <div id="signup-form">
            <form>
                <p class="user-type">Customer</p>
                <input type="text" name="fullname" id="sign-up-fullname" placeholder="Enter your full name" />
                <input type="text" name="username" id="sign-up-username" placeholder="Choose your username" />
                <input type="email" name="email" id="sign-up-email" placeholder="Enter your email" />
                <input type="tel" name="phone" id="sign-up-phone" placeholder="Enter your contact number" />
                <textarea type="text" name="add1" id="sign-up-add1" rows="10" cols="15" placeholder="Enter your preferred address"></textarea>
                <textarea type="text" name="add2" id="sign-up-add2" rows="10" cols="15" placeholder="Enter another address"></textarea>
                <input type="password" name="password" id="sign-up-password" placeholder="Create password" />
                <input type="password" name="confirm-password" id="sign-up-confirm-password" placeholder="Confirm password" />
                <button type="button" onclick="customer_signup()" class="btn signup"> create account
              </button>
            </form>
        </div>
        <p class="Identifier"><a class="loginAs" href="/seller-login">Log in as a Seller</a></p>
    </div>
    <script src="../scripts/login.js"></script>
    <script>
        window.csrf = '{{csrf}}';
    </script>
</body>

</html>