<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/customer_history.css">
    <title>Customer History</title>
</head>
<body>
    <h1 class="top-heading">Order History</h1>
    <div class="product-section">
        <!-- <hr class="hr1"> -->
        <div class="product-heading-container">
                
                    <li class="product-item heads">
                        <p class="item-name">Product name</p>
                        <p class="item-quantity">Quantity</p>
                        <p class="item-price">Price</p>
                        <p class="item-additional-info">Date of purchase</p>
                    </li>
                    <hr>
                <ul class="product-name-list">
                    <li class="product-item hover">
                        <p class="item-name">iPhone</p>
                        <p class="item-quantity">2</p>
                        <p class="item-price">10000</p>
                        <p class="item-additional-info">10/12/2900</p>
                    </li>
                    <hr>
                    <li class="product-item hover">
                        <p class="item-name">iPhone</p>
                        <p class="item-quantity">2</p>
                        <p class="item-price">10000</p>
                        <p class="item-additional-info">10/12/2900</p>
                    </li>
                    <hr>
                    <li class="product-item hover">
                        <p class="item-name">iPhone</p>
                        <p class="item-quantity">2</p>
                        <p class="item-price">10000</p>
                        <p class="item-additional-info">10/12/2900</p>
                    </li>
                </ul>
        </div>
        <!-- <hr class="hr2"> -->
        <div class="product-list-container">
                <ul class="product-list">
                </ul>
                <div class="empty-list">
                    <i class="far fa-frown" style="font-size: 3em;"></i>
                    <br> Oops! It looks like you haven 't added anything to your products..
                    <br> Enlist a product from 'Add a new product' section
                    <br> Happy Selling
                </div>
    
            </div>
        </div>
</body>
</html>