<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/footer.css">

    <title>Home</title>
</head>

<body>
    <!-- navbar  -->
    <nav class="navbar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-list" id="menu">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/products-page">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
        <ul class="nav-end">
            <li>
                <a href="/profile"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="/cart"><i class="fa fa-cart-plus"></i></a>
            </li>
        </ul>
        <ul class="menu-list-responsive">
            <li><a href="/home">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>

    <!-- Crousel -->
    <div id="myModal" class="modal">
        <span onclick="closePopup()" class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

    <section class="nw">
        <div class="slideshow-container">

            <div class="mySlides fade one">
                <img src="../static/media/slide9.png" style="width:100%" alt="Slide1" onclick="openPopup(this)">
            </div>

            <div class="mySlides fade">
                <img src="../static/media/slide6.jpg" style="width:100%" alt="Slide2" onclick="openPopup(this)">
            </div>

            <div class="mySlides fade">
                <img src="../static/media/slide3.jpg" style="width:100%" alt="Slide3" onclick="openPopup(this)">
            </div>

            <div class="mySlides fade">
                <img src="../static/media/slide8.jpg" style="width:100%" alt="Slide4" onclick="openPopup(this)">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br>
    </section>

    <section class="services-container">
        <h1 class="h-primary">Categories</h1>;
        <div class="services">
            <div class="box">
                <img src="../static/media/desktop.jpg" alt="img">
                <h2>Latest Fashion Wear</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quaerat dolores consequatur eaque, repellat veritatis necessitatibus id enim ratione minima.</p>
            </div>
            <div class="box">
                <img src="../static/media/clothes.jpg" alt="">
                <h2>Men's Jackets</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quaerat dolores consequatur eaque, repellat veritatis necessitatibus id enim ratione minima.</p>
            </div>
            <div class="box">
                <img src="../static/media/appliances.png" alt="">
                <h2>Women Wear</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quaerat dolores consequatur eaque, repellat veritatis necessitatibus id enim ratione minima.</p>
            </div>
            <div class="box">
                <img src="../static/media/smartphones.png" alt="">
                <h2>Skirts</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quaerat dolores consequatur eaque, repellat veritatis necessitatibus id enim ratione minima.</p>
            </div>
            <div class="box">
                <img src="../static/media/accessories.jpg" alt="">
                <h2>Casuals</h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quaerat dolores consequatur eaque, repellat veritatis necessitatibus id enim ratione minima.</p>
            </div>
            <div class="box">
                <img src="../static/media/Accessories.jpg" alt="">
                <h2>Accessories</h2>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quaerat dolores consequatur eaque, repellat veritatis necessitatibus id enim ratione minima.</p>
            </div>
    </section>

    <!-- Client Section -->
    <section class="client-container">
        <h1 class="h-primary">Our Partners</h1>
        <div class="clients">
            <div class="client-item">
                <img src="../static/media/companyLogo.png" alt="">
            </div>
            <div class="client-item">
                <img src="../static/media/companyLogo.png" alt="">
            </div>
            <div class="client-item">
                <img src="../static/media/companyLogo.png" alt="">
            </div>
            <div class="client-item">
                <img src="../static/media/companyLogo.png" alt="">
            </div>
        </div>
    </section>

    <!-- Footer here  -->
    <footer class="footer">
        <span class="footer-item">
            <p class="reach-us">
                <strong>Reach Us at:</strong><br>
                ABV-IIITM, Gwalior<br>
                Morena Link Road<br>
                Madhya Pradesh,India<br>
                PIN-474010<br>
            </p>
        </span>
        <span class="footer-item texts">
            <strong>Follow Us on:</strong><br>
            <a href=""><i class="fab fa-facebook-square"></i> Facebook</a><br>
            <a href=""><i class="fab fa-twitter-square"></i> Twitter</a><br>
            <a href=""><i class="fab fa-instagram-square"></i> Instagram</a><br>
        </span>
        <span class="footer-item texts addn">
            <a href="/seller-login">Register as a seller</a><br>
            <a href="#">Subscribe to deals and offers</a><br>
            <a href="/about">About Us</a>
        </span>
        <span class="footer-item texts">
            <a href="">Copyrights Reserved <br>© 2021-2022 </a><br>
            <a href="">Terms and Conditions</a>
        </span>

    </footer>

</body>
<script src="../scripts/navbar.js"></script>
<script src="../scripts/home.js"></script>
<script src="https://kit.fontawesome.com/2c32a0aecc.js" crossorigin="anonymous"></script>

</html>