<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/json/particle.json">
    <link rel="stylesheet" href="../static/css/particle-index.css">
    <title>Home</title>
</head>
<div id="particles-js"></div>
<body>
        <div class="slogan-section">
            <p>ANYTHING<br> BUT<br> ORDINARY</p>
        </div>
        <div class="image-section">
            <img src="../static/media/bg.png" alt="">
        </div>
        <div class="button-section">
            <button class="start" type="button">
                <a href="/customer-login">GET STARTED</a>
            </button>
        </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
<script>
    particlesJS.load('particles-js', '../static/json/particle-index.json', function() {
    console.log('Particle.js has been loaded ...');
  });</script>
<script src="https://kit.fontawesome.com/2c32a0aecc.js" crossorigin="anonymous"></script>

</html>