<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signed-up.css">
    <title>Successful!</title>
</head>

<body>
    <div class="container scale-up-center">
        <p class="message">
            <i class="far fa-frown"></i>
            <br> Oops! Looks like you entered wrong details
        </p>
        <a href="/customer-login" class="link">Try Again</a>
    </div>
</body>
<script src="https://kit.fontawesome.com/2c32a0aecc.js " crossorigin="anonymous "></script>

</html>