<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/payment.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">

    <title>Payment</title>
</head>

<body>
    <nav class="navbar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-list" id="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/products-page">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
        <ul class="nav-end">
            <li>
                <a href="/profile"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="/cart"><i class="fa fa-cart-plus active"></i></a>
            </li>
        </ul>
        <ul class="menu-list-responsive">
            <li><a href="/home">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>



    <div class="container">
        <form>
            <p><strong>Please select a payment method</strong></p>
            <input type="radio" id="debit-card" name="payment-mode" value="debit-card">
            <label for="debit-card">Debit Card</label><br>
            <input type="radio" id="credit-card" name="payment-mode" value="credit-card">
            <label for="credit-card">Credit Card</label><br>
            <input type="radio" id="net-banking" name="payment-mode" value="net-banking">
            <label for="net-banking">Net Banking</label><br>
            <input type="radio" id="upi" name="payment-mode" value="upi">
            <label for="upi">UPI</label><br>
            <input type="radio" id="cod" name="payment-mode" value="cod">
            <label for="cod">Cash On Delivery</label><br>

            <button class="submit-btn" type="button" onclick="pay()">Proceed</button>
        </form>

    </div>



    <!-- Footer here  -->
    <footer class="footer">
        <span class="footer-item">
            <p class="reach-us">
                <strong>Reach Us at:</strong><br>
                S.V Road, Borivali (West)<br>
                Mumbai<br>
                Maharashtra,India<br>
                PIN-400092<br>
            </p>
        </span>
        <span class="footer-item texts">
            <strong>Follow Us on:</strong><br>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i> Facebook</a><br>
            <a href="https://twitter.com/login"><i class="fab fa-twitter-square"></i> Twitter</a><br>
            <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram-square"></i> Instagram</a><br>
        </span>
        <span class="footer-item texts addn">
            <a href="/seller-login">Register as a seller</a><br>
            <a href="#">Subscribe to deals and offers</a><br>
            <a href="/about">About Us</a>
        </span>
        <span class="footer-item texts">
            <a href="">Copyrights Reserved <br>© 2021-2022 </a><br>
            <a href="">Terms and Conditions</a>
        </span>

    </footer>
</body>
<script src="https://kit.fontawesome.com/2c32a0aecc.js " crossorigin="anonymous "></script>
<script src="../scripts/navbar.js"></script>
<script src="../scripts/payment.js"></script>

</html>