<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/products.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/favicon/product.ico">
    <title>Products</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-list" id="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/products-page" class="active">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
        <ul class="nav-end">
            <li>
                <a href="/profile"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="/cart"><i class="fa fa-cart-plus"></i></a>
            </li>
        </ul>
        <ul class="menu-list-responsive">
            <li><a href="/home">Home</a></li>
            <li><a href="/products-page" class="active">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>

    <!-- product search section  -->
    <div class="search-container">
        <p>Everything is yours...</p>
        <input type="text" id="search" placeholder="Search your products">
        <button type="button" id="search-btn">Search</button>
    </div>

    <div class="filter-container">
        <span class="filter-product-type">
            <label for="cars">Category</label>

            <select name="cars" id="type" class="drop-down">
                <option class="option" value="all">All</option>
                <option class="option" value="accessories">Accessories</option>
                <option class="option" value="clothing and fashion">Clothing and Fashion</option>
                <option class="option" value="desktops and laptops">Desktops and Laptops</option>
                <option class="option" value="electrical appliances">Electrical Appliances</option>
                <option class="option" value="grocery items">Grocery Items</option>
                <option class="option" value="smartphones">Smartphones</option>
                <option class="option" value="any other">Any Other</option>
            </select>
        </span>

        <span class="filter-product-price">
            <label for="price-range">Price</label>
            <input type="range" id="price-range" name="price-range" value="10000" min="0" max="10000" step="100">
            <output class="bubble"></output>
            <span>
                <button class="apply-changes" type="button" onclick="show_products()">
                    Apply Filters
                </button>
            </span>
        </span>


    </div>

    <div class="product-container">
    </div>


    <!-- Footer here  -->
    <footer class="footer">
        <span class="footer-item">
            <p class="reach-us">
                <strong>Reach Us at:</strong><br>
                S.V Road, Borivali (West)<br>
                Mumbai<br>
                Maharashtra,India<br>
                PIN-400092<br>
            </p>
        </span>
        <span class="footer-item texts">
            <strong>Follow Us on:</strong><br>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i> Facebook</a><br>
            <a href="https://twitter.com/login"><i class="fab fa-twitter-square"></i> Twitter</a><br>
            <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram-square"></i> Instagram</a><br>
        </span>
        <span class="footer-item texts addn">
            <a href="/seller-login">Register as a seller</a><br>
            <a href="#">Subscribe to deals and offers</a><br>
            <a href="/about">About Us</a>
        </span>
        <span class="footer-item texts">
            <a href="">Copyrights Reserved <br>© 2021-2022 </a><br>
            <a href="">Terms and Conditions</a>
        </span>

    </footer>

</body>
<script src="../scripts/navbar.js"></script>
<script src="../scripts/products.js"></script>
<script src="https://kit.fontawesome.com/2c32a0aecc.js" crossorigin="anonymous"></script>

</html>