<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Home</title>
</head>

<body>
    <!-- navbar  -->
    <nav class="navbar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-list" id="menu">
            <li class="active"><a href="/seller-home">Home</a></li>
            <li><a href="/seller-products">My Products</a></li>
            <li><a href="/seller-about-us">About Us</a></li>
        </ul>
        <ul class="nav-end">
            <li>
                <a href="/seller-profile"><i class="fa fa-user"></i></a>
            </li>
        </ul>
        <ul class="menu-list-responsive">
            <li><a href="/seller-home">Home</a></li>
            <li><a href="/seller-products">My Products</a></li>
            <li><a href="/seller-about-us">About Us</a></li>
        </ul>
    </nav>
    This is home sweet home
</body>
<script src="../scripts/navbar.js"></script>
<script src="https://kit.fontawesome.com/2c32a0aecc.js" crossorigin="anonymous"></script>
<script src="../scripts/navbar.js"></script>

</html>