<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/seller.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller</title>
</head>

<body>
    <nav class="navbar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-list" id="menu">
            <li><a href="/seller-home">Home</a></li>
            <li><a href="/seller-products" class="active">My Products</a></li>
            <li><a href="/seller-about-us">About Us</a></li>
        </ul>
        <ul class="nav-end">
            <li>
                <a href="/seller-profile"><i class="fa fa-user"></i></a>
            </li>
        </ul>
        <ul class="menu-list-responsive">
            <li><a href="/seller-home">Home</a></li>
            <li><a href="/seller-products" class="active">My Products</a></li>
            <li><a href="/seller-about-us">About Us</a></li>
        </ul>
    </nav>

    <!-- input section  -->
    <div class="input-section">
        <div class="heading">Add a new product</div>
        <hr class="hr1">
        <form action="submit" class="input-form">
            <span>
                <label for="name" class="label">Name</label>
                <input type="text" name="name" id="name" class="product-name" placeholder="">
            </span>
            <span>
                <label for="price" class="label">Price</label>
                <input type="number" name="price" id="price" class="product-price" placeholder="">
            </span>
            <span>
                <label for="quantity" class="label">Quantity</label>
                <input type="number" name="quantity" id="quantity" class="product-quantity" placeholder="">
            </span>
            <span>
                <label for="extra" class="label">Features</label>
                <textarea type="text" rows="8" name="extra" id="extra" class="additional-data" placeholder=""></textarea>
            </span>
            <span>
                <label for=category" class="label">Category</label>
                <select name="category" id="category" class="category">
                    <option value="" selected disabled hidden>Select a category for the product</option>
                    <option value="accessories">Accessories</option>
                    <option value="clothing and fashion">Clothing and Fashion</option>
                    <option value="desktops and laptops">Desktops and Laptops</option>
                    <option value="electrical appliances">Electrical Appliances</option>
                    <option value="grocery items">Grocery Items</option>
                    <option value="smartphones">Smartphones</option>
                    <option value="any other">Any Other</option>
                </select>
            </span>
            <button class="add-product-btn" type="button" id="add-product-btn">Add Product</button>
        </form>
    </div>

    <!-- product-list section  -->
    <div class="product-section">
        <div class="heading">My Products</div>
        <hr class="hr1">
        <div class="product-heading-container">
            <ul class="product-name-list">
                <li class="product-item">
                    <p class="item-name">Name</p>
                    <p class="item-price">Price</p>
                    <p class="item-quantity">Quantity</p>
                    <p class="item-additional-info">Additional Information</p>
                </li>
            </ul>
        </div>
        <hr class="hr2">
        <!-- Products are listed here -->
        <div class="product-list-container">
            <ul class="product-list">
            </ul>
            <div class="empty-list">
                <i class="far fa-frown" style="font-size: 3em;"></i>
                <br> Oops! It looks like you haven 't added anything to your products..
                <br> Enlist a product from 'Add a new product' section
                <br> Happy Selling
            </div>

        </div>
    </div>

    <div class="cardList">
       
        <div class="card">
            <img src="../static/media/sample-product.png" alt="sample-product-img">
            <div class="cardInfo">
                <div>
                    <h3 class="product-name">Name :</h3>
                    <p>LG Microwave</p>
                </div>
                <div>
                    <h3 class="product-price">Price :<i class="fa-solid fa-pencil"></i></h3>
                    <p>16000</p>
                </div>
                <div>
                    <h3 class="product-quantity">Quantity :</h3>
                    <p>1</p>
                </div>
                <button class="read-more">Read more...</button>
                <div class="addInfo" style="display: none;">
                    <h3>Additional Information</h3>
                    <p>5 Years warranty <br>
                    Low Voltage required <br>
                    Amazing design <br>
                    Many additional features <br></p>
                </div>
            </div>  
            <div class="card-btns">
                <button class="edit-btn"><i class="far fa-edit"></i></button>
                <button class="delete-btn"><i class="fas fa-trash"></i></button>
            </div>
        </div>
        
    </div>
    






    <footer class="footer">
        <p class="footer-item">
            <a href="">Copyright © 2021-2022 &nbsp|</a>
            <a href="">Terms and Conditions &nbsp|</a>
            <span>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
            </span>
        </p>
    </footer>

    
</body>
<script src="../scripts/navbar.js"></script>
<script src="../scripts/seller-products.js"></script>
<script src="https://kit.fontawesome.com/2c32a0aecc.js" crossorigin="anonymous"></script>

</html>