<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign-Up</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="form-modal">

        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">log in</button>
            <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
        </div>

        <div id="login-form">
            <form action="/seller-profile">
                <input type="text" placeholder="Enter email or username" />
                <input type="password" placeholder="Enter password" />
                <button class="btn login" type="submit">login</button>
                <!-- <p><a href="#" onclick="toggleSignup()">Register Account</a> </p> -->
            </form>
        </div>

        <div id="signup-form">
            <form>
                <input type="email" placeholder="Enter your email" />
                <input type="text" placeholder="Choose username" />
                <input type="password" placeholder="Create password" />
                <button type="button" class="btn signup"><i class="fa fa-spinner fa-pulse"></i> create account
              </button>

            </form>
        </div>
        <p class="Identifier"><a class="loginAs" href="/customer-login">Log in as a Customer</a></p>
    </div>
    <script src="../scripts/login.js"></script>
</body>

</html>