<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/seller-profile.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Seller Profile</title>
</head>

<body>

    <!-- For user image  -->
    <div class="image-container">
        <!-- navbar  -->
        <nav class="navbar">
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="menu-list" id="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/seller-products">My Products</a></li>
                <li><a href="/seller-about-us">About Us</a></li>
            </ul>
            <ul class="nav-end">
                <li>
                    <a href="/seller-profile"><i class="fa fa-user active"></i></a>
                </li>
            </ul>
            <ul class="menu-list-responsive">
                <li><a href="/home">Home</a></li>
                <li><a href="/seller-products">My Products</a></li>
                <li><a href="/seller-about-us">About Us</a></li>
            </ul>
        </nav>

        <img src="../static/media/user-image.png" alt="">
        <div class="name-section">
            <h2 id="user-name">Jack Sparrow</h2>
        </div>
        <button class="edit-name" id="edit-name-btn" name="edit-name" type="button"><i
                class="fa fa-pencil"></i></button>
    </div>

    <!-- For user details  -->
    <div class="user-container">
        <div class="user-details">

            <!-- For basic information  -->
            <div>
                <div class="user-details-heading">
                    My Details
                </div>

                <!-- Contact information of user  -->
                <div class="user-contact">
                    <div class="user-email">
                        <div class="heading">
                            <span>
                                <i class="fa fa-envelope-o"></i> Email
                            </span>
                            <section>
                                <i class="fa fa-pencil-square-o" id="edit-email-btn"></i>
                            </section>
                        </div>
                        <hr>
                        <p id="user-email">randomperson@gmail.com</p>
                    </div>
                </div>
                <div class="user-contact">
                    <div class="user-phone ">
                        <div class="heading ">
                            <span>
                                <i class="fa fa-phone "></i> Contact No.
                            </span>
                            <section>
                                <i class="fa fa-pencil-square-o" id="edit-phone-btn"></i>
                            </section>
                        </div>
                        <hr>
                        <p id="user-phone">+91 987654321</p>
                    </div>
                </div>


                <!-- Address of user  -->
                <div class="user-address-section">

                    <div class="heading ">
                        <span>
                                <i class="fas fa-store"></i> Pick Up Address
                            </span>
                        <section>
                            <i class="fa fa-pencil-square-o" id="edit-address-btn"></i>
                        </section>
                    </div>
                    <hr>
                    <p class="user-address" id="user-address-1">
                        4124 Plainfield Avenue<br> Utica <br> NY <br> New York <br> ZIP-13502
                    </p>

                </div>
                <div class="user-address-section">

                    <div class="heading ">
                        <span><i class="fa fa-home "></i> Residence</span>
                    </div>
                    <hr>
                    <p class="user-address" id="user-address-2">
                        3863 Weekley Street<br> San Antonio <br> TX <br> Texas <br> ZIP-78258
                    </p>

                </div>

                <button class="save-change-btn hide-btn " onclick="save_changes()" id="save-change-btn " type="button " name="save-change-button ">Save Changes</button>
            </div>

            <div>
                <!-- For financial info  -->
                <div class="financial-info ">
                    <div class="financial-heading heading ">
                        <span><i class="fas fa-coins "></i> &nbspMy Accounts</span>
                    </div>
                    <hr style="width:70%; margin: auto; " />
                    <ul class="financial-item-list ">
                        <li class="fin-item ">
                            <p>Total Revenue</p>
                            <p class="fin-item-value ">Rs.9400</p>
                        </li>
                        <li class="fin-item ">
                            <p>Total Orders</p>
                            <p class="fin-item-value ">18</p>
                        </li>
                        <li class="fin-item ">
                            <p>Total Refunds</p>
                            <p class="fin-item-value ">Rs.600</p>
                        </li>
                        <li class="fin-item ">
                            <p>Tax Saved</p>
                            <p class="fin-item-value ">Rs.1200</p>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <footer class="footer">
        <p class="footer-item">
            <a href="">Copyright © 2021-2022 &nbsp|</a>
            <a href="">Terms and Conditions &nbsp|</a>
            <span>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
            </span>
        </p>
    </footer>
</body>

<script src="https://kit.fontawesome.com/2c32a0aecc.js " crossorigin="anonymous "></script>
<script src="../scripts/seller-profile.js "></script>
<script src="../scripts/navbar.js "></script>

</html>