<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signed-up.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon/thankyou.ico">
    <title>Thank You</title>
</head>

<body>
    <nav class="navbar">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-list" id="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/products-page">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
        <ul class="nav-end">
            <li>
                <a href="/profile"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="/cart"><i class="fa fa-cart-plus active"></i></a>
            </li>
        </ul>
        <ul class="menu-list-responsive">
            <li><a href="/home">Home</a></li>
            <li><a href="/products-page">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>



    <div class="container scale-up-center">
        <p class="message">
            <i class="far fa-grin-beam emoji"></i>
            <br> Thank You for purchasing our product.
        </p>
        <a class="link" href="/products-page">Keep Shopping</a>
    </div>
    <!-- Footer here  -->
    <footer class="footer">
        <span class="footer-item">
            <p class="reach-us">
                <strong>Reach Us at:</strong><br>
                S.V Road, Borivali (West)<br>
                Mumbai<br>
                Maharashtra,India<br>
                PIN-400092<br>
            </p>
        </span>
        <span class="footer-item texts">
            <strong>Follow Us on:</strong><br>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i> Facebook</a><br>
            <a href="https://twitter.com/login"><i class="fab fa-twitter-square"></i> Twitter</a><br>
            <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram-square"></i> Instagram</a><br>
        </span>
        <span class="footer-item texts addn">
            <a href="/seller-login">Register as a seller</a><br>
            <a href="#">Subscribe to deals and offers</a><br>
            <a href="/about">About Us</a>
        </span>
        <span class="footer-item texts">
            <a href="">Copyrights Reserved <br>© 2021-2022 </a><br>
            <a href="">Terms and Conditions</a>
        </span>

    </footer>
</body>
<script src="https://kit.fontawesome.com/2c32a0aecc.js " crossorigin="anonymous "></script>
<script src="../scripts/navbar.js"></script>

</html>