@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Nunito Sans";
    overflow-x: hidden;
}

.heading {
    width: inherit;
    height: fit-content;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
}

.slogan-section {
    width: 100vw;
    height: fit-content;
    margin-top: 2em;
}

.slogan-section img {
    height: 500px;
    width: 100vw;
    opacity: 0.5;
    object-fit: cover;
}

.slogan {
    font-size: 4em;
    font-weight: bolder;
    text-align: left;
    padding-top: 2em;
    padding-left: 0.5em;
    position: absolute;
    top: 2em;
}

.subscript {
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
    padding-left: 5em;
    padding-top: 2em;
    position: absolute;
    top: 9em;
}