@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&family=Nunito+Sans:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Nunito Sans";
    overflow-x: hidden;
    color: black;
    font-weight: bold;
}


/* For card container  */

.heading {
    margin-top: 5rem;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    background: -webkit-linear-gradient(#fa24fa, #7823e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Maven Pro', sans-serif;
}


/* Class for displaying a message when cart is empty  */

.empty-cart {
    margin: auto;
    font-size: 2.5vw;
    width: fit-content;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.empty-cart a {
    text-decoration: none;
    color: rgb(2, 2, 211);
}

.card-container {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-item {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    width: 30vw;
    height: fit-content;
    margin: 1em;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 70% 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
    transition-duration: 0.5s;
    border: 4px solid transparent;
    border-radius: 20px;
    /* background-color: rgba(0, 60, 255, 0.425);
    color: white; */
}

.card-item:hover {
    border: 4px solid #fa24fa;
    /* box-shadow: 0 0 10px #fa24fa; */
    transform: scale(1.03);
}

.item-image {
    display: flex;
    justify-content: center;
    /* vertical-align: middle; */
    align-items: center;
    /* text-align: center; */
    /* width: fit-content; */
}

.item-image img {
    margin: 1em auto;
    width: auto;
    height: 55%;
}
.item-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
}

.price {
    margin: 0.2em 0em 0em 0em;
    font-size: 1.1em;
}

.availability {
    width: fit-content;
    padding: 2px 4px;
    font-size: 0.8em;
    color: white;
}

.count-label {
    font-size: 1.2em;
}

.count {
    margin-top: 2em;
    width: 80px;
    margin-left: 1.2em;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    outline: none;
    background-color:rgba(0, 0, 0, 0.123);
    border: 2px solid transparent;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.404);
}
.count:hover {
    background-color:white;
    color: rgba(0, 0, 0, 0.404);
    border: 2px solid #fa24fa;
}

.btn-section-1,
.btn-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-section-1 button,
.btn-section-2 button{
    background: linear-gradient(to right, #fa24fa, #6609B8);
    color: white;
    border: 3px solid white;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}
.btn-section-1 button{
    border-radius: 50%;
}
.btn-section-1 button i{
    color: white;
}
.btn-section-1 button i:hover{
    color: black;
}
.btn-section-1 button:hover,
.btn-section-2 button:hover {
    background: white;
    color: black;
    border: 3px solid #fa24fa;
}

.buy-now {
    margin: 5px auto;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.1em 1em;
    height: fit-content;
    /* background: linear-gradient(45deg, rgb(0, 0, 197), rgb(101, 101, 252)); */
    /* color: white; */
    /* box-shadow: 1px 3px 4px 0px rgb(0 0 0 / 20%); */
    background-color: white;
    overflow-y: hidden;
}

.buy-now:active {
    background-color: rgb(0, 117, 111);
    color: white
}

.delete-from-cart {
    color: black;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    height: max-content;
    border: none;
}

.delete-from-cart i {
    vertical-align: middle;
}

.delete-from-cart:active {
    transform: scale(1.01);
    color: rgb(190, 245, 218);
}

.calculation-container {
    width: 30vw;
    height: fit-content;
    margin: 4em auto 2em auto;
    display: grid;
    grid-template-rows: repeat(25%, 4);
    font-size: 1.2em;
    display: none;
}

.row {
    display: grid;
    grid-template-columns: 80% 20%;
}

.total {
    border-top: 1px solid black;
}

.values {
    text-align: right;
}

.checkout-btn-section {
    padding: 10px 0;
    text-align: center;
    display: none;
}

.checkout-btn {
    background: linear-gradient(to right, #fa24fa, #6609B8);
    color: white;
    border: 3px solid white;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
    margin: 0px auto;
    align-self: center;
    font-weight: bold;
    border-radius: 0.8rem;
    font-size: 1.05em;
}
.checkout-btn:hover {
    background: white;
    color: black;
    border: 3px solid #fa24fa;
}

.footer {
    margin-top: 20vh;
}

.seller {
    display: none;
}

.calculation-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    padding: 2rem 2rem;
    border-radius: 0.8rem;
}

@media screen and (max-width: 450px) {
    .heading {
        text-align: center;
    }
    .card-container {
        grid-template-columns: 10fr;
        margin-top: 5em;
    }
    .card-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: fit-content;
        margin: 1em 0px;
    }
  
    .delete-from-cart{
        font-size: 0.8rem;
    }
    .btn-section-1{
        padding: 0.5rem 0.7rem;
    }
    .btns{
        display: flex;
        flex-direction: row;
    }
    .item-info {
        width: fit-content;
    }
    .title {
        font-size: 1.5em;
    }
    .color {
        font-size: 1.1em;
    }
    .price {
        font-size: 1.3em;
    }
    .availability {
        font-size: 1em;
    }
    .nav-end {
        margin-right: -5%;
    }
    .calculation-container {
        width: 90vw;
    }
}

@media screen and (max-width: 1100px){
    .card-item{
        width: 80vw;
    }
}