@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Nunito Sans";
    overflow-x: hidden;
    color: black
}


/* For card container  */

.heading {
    margin-top: 5rem;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
}


/* Class for displaying a message when cart is empty  */

.empty-cart {
    margin: auto;
    font-size: 2.5vw;
    width: fit-content;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.empty-cart a {
    text-decoration: none;
    color: rgb(2, 2, 211);
}

.card-container {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-item {
    width: 20em;
    height: 16em;
    margin: 1em;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 80% 20%;
    box-shadow: 0px 2px 5px 4px rgb(0 0 0 / 20%);
    transition-duration: 0.5s;
    border-radius: 20px;
    /* background-color: rgba(0, 60, 255, 0.425);
    color: white; */
}

.card-item:hover {
    transform: scale(1.03);
}

.item-image {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    width: fit-content;
}

.item-image img {
    margin: 1em auto;
    width: auto;
    height: 55%;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
}

.price {
    margin: 0.2em 0em 0em 0em;
    font-size: 1.1em;
}

.availability {
    width: fit-content;
    padding: 2px 4px;
    font-size: 0.8em;
    color: white;
}

.count-label {
    font-size: 1.2em;
}

.count {
    margin-top: 2em;
    padding-left: 10px;
    width: 80px;
    margin-left: 1.2em;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    /* border-color: white; */
    outline: none;
    background-color: transparent;
}

.btn-section-1,
.btn-section-2 {
    text-align: center;
    vertical-align: middle;
}

.buy-now {
    margin: 5px auto;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.1em 1em;
    height: fit-content;
    /* background: linear-gradient(45deg, rgb(0, 0, 197), rgb(101, 101, 252)); */
    /* color: white; */
    /* box-shadow: 1px 3px 4px 0px rgb(0 0 0 / 20%); */
    background-color: white;
    overflow-y: hidden;
}

.buy-now:active {
    background-color: rgb(0, 117, 111);
    color: white
}

.delete-from-cart {
    color: black;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    height: max-content;
    border: none;
}

.delete-from-cart i {
    vertical-align: middle;
}

.delete-from-cart:active {
    transform: scale(1.01);
    color: rgb(190, 245, 218);
}

.calculation-container {
    width: 30vw;
    height: fit-content;
    margin: 4em auto 2em auto;
    display: grid;
    grid-template-rows: repeat(25%, 4);
    font-size: 1.2em;
    display: none;
}

.row {
    display: grid;
    grid-template-columns: 80% 20%;
}

.total {
    border-top: 1px solid black;
}

.values {
    text-align: right;
}

.checkout-btn-section {
    text-align: center;
    display: none;
}

.checkout-btn {
    margin: 0px auto;
    align-self: center;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 1.05em;
}

.footer {
    margin-top: 20vh;
}

.seller {
    display: none;
}

@media screen and (max-width: 450px) {
    .heading {
        text-align: center;
    }
    .card-container {
        grid-template-columns: 10fr;
        margin-top: 5em;
    }
    .card-item {
        width: 90vw;
        height: fit-content;
        margin: 1em 0px;
    }
    .item-info {
        width: fit-content;
    }
    .title {
        font-size: 1.5em;
    }
    .color {
        font-size: 1.1em;
    }
    .price {
        font-size: 1.3em;
    }
    .availability {
        font-size: 1em;
    }
    .nav-end {
        margin-right: -5%;
    }
    .calculation-container {
        width: 90vw;
    }
}