:root {
    --font-colour: #a9a8a8;
}

.footer {
    width: inherit;
    height: fit-content;
    padding: 2em 0.8em;
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-item {
    margin: 0px auto;
    color: var(--font-colour);
    text-align: center;
}

.footer-item a {
    font-size: 1em;
    color: var(--font-colour);
    margin-right: 0.3em;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}

.reach-us {
    text-align: left;
}

.texts {
    color: var(--font-colour);
    text-align: left;
}

@media screen and (max-width: 450px) {
    .footer {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        row-gap: 25px;
    }
    .footer-item {
        margin: 0px;
        margin-right: 10px;
    }
}