@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom, #74abe2, #5563de); */
    font-family: "Ropa Sans", sans-serif;
}

.navbar {
    font-family: "Source Sans Pro", sans-serif;
    background: black;
}

.navbar li a {
    color: white;
}

.numbertext {
    float: right;
    font-weight: 600;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.nw {
    margin-top: 50px;
}

.mySlides {
    position: absolute;
    width: inherit;
    height: inherit;
    margin: 0 auto;
    display: none;
}

.mySlides.one {
    display: block;
}

.mySlides img {
    cursor: pointer;
    height: inherit;
    width: auto;
}

.slideshow-container {
    position: relative;
    height: 80vh;
    width: 100vw;
}

.next,
.prev {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 45%;
    cursor: pointer;
}

.next {
    right: 2rem;
}

.prev {
    left: 2rem;
}

.numbertext {
    color: white;
    font-size: 25px;
}

@media only screen and (max-width: 1024px) {
    .mySlides {
        width: 100%;
    }
    .numbertext {
        font-size: 40px;
    }
    .next,
    .prev {
        font-size: 100px;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .mySlides img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        cursor: pointer;
    }
    .numbertext {
        font-size: 20px;
    }
    .next,
    .prev {
        font-size: 40px;
        top: 48%;
    }
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .slideshow-container {
        height: 20vh;
    }
    .mySlides img {
        width: inherit;
        height: auto;
    }
    .next,
    .prev {
        position: absolute;
        font-size: 50px;
        color: white;
        top: 60%;
        cursor: pointer;
        font-size: 1em;
    }
}


/*Categories Section*/

.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(153, 0, 77);
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 20px 10px;
    padding: 20px 20px;
    background-color: rgb(153, 0, 77);
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.6s;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.733);
    border-color: rgba(0, 0, 0, 0.301);
    cursor: pointer;
}

.services-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* z-index: -1; */
    /* padding-top: 25rem; */
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(153, 0, 77);
}

.services-container img {
    margin-top: 0.9rem;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.services-container img {
    height: 70%;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: fit-content;
    text-align: center;
    padding: 0rem 1rem 1rem 1rem;
    border: none;
    margin: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
}

.box img {
    border-radius: 0.5rem;
    height: 400px;
    width: auto;
}

.box {
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 0.5rem;
}

.box:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 5px #fa24fa;
}

.link {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.link:hover .dropdown-content {
    display: block;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.288);
}

.dropdown-content a {
    width: 10vw;
}


/* Client Section  */

.client-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
    color: #fa24fa;
    margin-top: 1em;
}

.clients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 2em;
}

.client-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    padding: 5px 10px;
    margin: 0px 20px;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 10px 0px #0000004f;
    border-radius: 0.5rem;
}

.client-item img {
    width: 200px;
    height: auto;
    transition-duration: 0.2s;
    /* padding: 10px; */
}

.client-item:hover {
    box-shadow: none;
}

.client-item img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px #fa24fa;
    border-radius: 50%;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: fit-content;
    }
    .clients {
        flex-direction: column;
    }
}