* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: white;
}

.fa-user {
    color: var(--font-color);
}

.navbar {
    /* width: inherit;
    height: fit-content; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0.5em;
    background: linear-gradient(to right, #fa24fa, #6609B8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: +1;
}

.navbar li a {
    color: white;
}

.hamburger {
    display: none;
    color: var(--font-color);
    font-size: 2.5em;
    vertical-align: middle;
}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-list-responsive {
    display: none;
    flex-direction: column;
    list-style: none;
}

.menu-list li,
.menu-list-responsive li {
    color: var(--font-color);
    font-size: 1.5em;
    font-weight: bolder;
    margin: auto 1em;
}

.menu-list-responsive li {
    margin: 0.2em 0px;
}

.menu-list li a,
.menu-list-responsive li a {
    color: var(--font-color);
    text-decoration: none;
}

.menu-list li a:hover,
.menu-list-responsive:hover {
    color: rgb(0, 0, 0);
}

.nav-end {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    height: fit-content;
    /* margin-right: 2rem; */
}

.nav-end li {
    font-size: 1.8em;
    margin: auto 0.5em;
    color: var(--font-color)
}

.nav-end li a {
    text-decoration: none;
    color: var(--font-color)
}

.nav-end li a:hover {
    color: rgb(179, 179, 179);
}

.active {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 450px) {
    .navbar {
        width: 105vw;
        grid-template-columns: 1fr 1fr;
    }
    .menu-list {
        display: none;
    }
    .hamburger {
        display: block;
        width: 60%;
    }
}