@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

.navbar {
    background: linear-gradient(to right, #fa24fa, #7823e7);
}

.navbar li a {
    color: white;
}

.menu-list li a:hover,
.menu-list-responsive:hover {
    color: rgb(0, 0, 0);
}

.nav-end li a:hover {
    color: rgb(0, 0, 0);
}

.nav-end li a i:hover {
    color: rgb(0, 0, 0);
}

.search-container {
    width: 40vw;
    height: fit-content;
    margin: 4rem auto;
    margin-bottom: 1em;
    text-align: center;
}

.search-container p {
    font-size: 3em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);
    /* font-weight: bold; */
    font-family: 'Maven Pro', sans-serif;
    padding: 0.1em;
    background: -webkit-linear-gradient(#fa24fa, #7823e7);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-container input {
    width: inherit;
    height: fit-content;
    font-size: 1.2em;
    margin: 1px auto;
    text-align: center;
    border: 5px solid transparent;
    border-radius: 2rem;
    padding: 0.5rem;
    outline: none;
    margin-top: 0.8rem;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}

.search-container input:hover {
    border: 5px solid #fa24fa83;
}

.search-container button {
    font-size: 1.2em;
    margin: 0.5em auto;
    background: linear-gradient(to right, #fa24fa, #7823e7);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    margin-top: 2rem;
}

.search-container button:hover {
    border: 4px solid #fa24fa;
    background: white;
    color: black;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 2rem;
}

.drop-down {
    font-size: 0.9em;
    padding: 0.5rem 1rem;
    margin-left: 0.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    border: 4px solid white;
    border-radius: 0.5rem;
    outline: none;
    margin-right: 2rem;
}

.drop-down:hover {
    border: 4px solid white;
}

.drop-down:focus {
    border: 4px solid #fa24fa93;
}

.option {
    padding: 1rem;
    font-size: 1.0em;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
}

.option:hover {
    background: #fa24fa93;
}

.cars {
    border-radius: 0.5rem;
}

.filter-product-price {
    margin-left: 1em;
    margin-top: 0px;
}

.bubble {
    display: none;
    background: transparent;
    color: black;
    padding: 1px 2px;
    margin-top: 40px;
    font-size: 0.8em;
    position: absolute;
    border-radius: 4px;
    left: 58%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    border: 2px solid #fa24fa;
}

.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    top: -1px;
    left: 50%;
    text-align: center;
    align-items: center;
}

.apply-changes {
    font-size: 0.7em;
    margin: 0.5em auto;
    background: linear-gradient(to right, #fa24fa, #7823e7);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    margin-left: 2rem;
}

.apply-changes:hover {
    border: 4px solid #fa24fa;
    background: white;
    color: black;
}


/* Displaying all the products here  */

.product-container {
    padding-top: 1rem;
    width: inherit;
    height: fit-content;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* designs for each product  */

.product {
    padding: 1rem;
    background: white;
    width: 40%;
    height: fit-content;
    vertical-align: middle;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    border: 4px solid transparent;
    border-radius: 0.7rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    margin: 1rem 1rem;
    margin-bottom: 1em;
    transition-duration: 0.4s;
}

.product:hover {
    transform: scale(1.02);
    border: 4px solid #fa24fa;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 0.7rem;
    text-align: center;
}

.product-image img {
    width: inherit;
    height: inherit;
    background-size: cover;
}

.product-info {
    padding-left: 0.5em;
    padding-top: 1.7em;
}

.product-name {
    font-size: 1.8em;
    font-weight: bolder;
}

.product-price {
    font-size: 1.5em;
    font-weight: bold;
}

.product-quantity {
    width: fit-content;
    background-color: rgb(128, 197, 1);
    color: white;
    padding: 2px 5px;
}

.nil-product-quantity {
    display: none;
    width: fit-content;
    background-color: red;
    color: white;
    padding: 2px 5px;
}

.product-about {
    margin-top: 0.5em;
}

.product-delivery {
    font-size: 0.8em;
    font-weight: 600;
    color: brown;
}

.button-section {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.add-to-cart,
.buy-now {
    width: 9.5em;
    padding: 0.7rem 0.7rem;
    margin: 1rem 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    /* border: none; */
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    /* margin-right: 0.5rem; */
    /* margin-top: 1.5rem; */
}

.add-to-cart:hover,
.buy-now:hover {
    background: white;
    border: 4px solid #fa24fa;
    color: black;
}

.add-to-wishlist {
    margin: 0px auto;
    width: 20%;
    background: transparent;
    border: none;
    font-size: 1.2em;
    padding: 0px;
}

.add-to-wishlist i {
    padding: 1rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
}

.add-to-wishlist i:hover {
    box-shadow: 0 0 10px #fa24fa;
}

.added {
    color: red;
}

.add-to-cart {
    margin-top: 35px;
    margin-bottom: 1px;
    background-color: black;
    color: white;
    background: linear-gradient(to right, #fa24fa, #6609B8);
}

.addInfo {
    display: none;
}

.read-more {
    background: transparent;
    font-size: 1rem;
    border: none;
}

.read-more:hover {
    text-decoration: underline;
}

.buy-now {
    margin-top: 10px;
    background-color: black;
    color: white;
    background: linear-gradient(to right, #fa24fa, #6609B8);
}

.footer {
    margin-top: 200px;
}

@media screen and (max-width:1300px) {
    .search-container {
        width: 80vw;
    }
}

@media screen and (max-width:1200px) {
    .product {
        width: fit-content;
    }
}

@media screen and (max-width:740px) {
    .filter-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .filter-product-price {
        margin-top: 2rem;
    }
    .search-container {
        width: 80vw;
    }
    .search-container p {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    }
    .product {
        padding: none;
    }
    .product-image img {
        width: 140px;
        height: auto;
    }
}

@media screen and (max-width:520px) {
    .product {
        width: 85vw;
        display: flex;
        flex-direction: column;
    }
    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-layout {
        display: flex;
        flex-direction: row;
    }
    .button-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .add-to-cart {
        margin: auto;
    }
    .buy-now {
        margin: auto;
    }
}

@media screen and (max-width:330px) {
    .filter-container {
        margin: auto;
    }
    .filter-product-price {
        margin: auto;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .apply-changes {
        margin: auto;
    }
    .filter-product-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}