/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap'); */


/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --left-spacing: 1em;
    --general-font: 1.5em;
    --font-color: rgb(255, 255, 255);
}

.navbar {
    position: relative;
    background: transparent;
}

.menu-list li a:hover,
.menu-list-responsive:hover {
    color: grey;
}

i {
    vertical-align: middle;
}

.fa-phone {
    transform: rotate(90deg);
}

.fa-pencil-square-o{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    border-radius: 50%;
    margin: auto;
    font-size: 1.5rem;
    padding: 0.7rem;
    border: 3px solid white;
    background: linear-gradient(#fa24fa, #6609B8);
    color: white;
    
}
.fa-pencil-square-o:hover {
    color: #fa24fa;
    background: white;
    border: 3px solid #fa24fa;
}

[contenteditable] {
    outline: 0px solid transparent;
}


/* For image section  */

.image-container {
    width: 100vw;
    height: fit-content;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 0px 0px 15px 0px black;
    background: transparent;
    z-index: 1;
}

.image-container img {
    height: 10em;
    width: 10em;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.623);
    z-index: 1;
}

.name-section {
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0.1em 2em;
    z-index: 1;
}

.name-section h2 {
    text-align: center;
    color: white;
    font-size: 250%;
    z-index: 1;
}

.edit-name {
    background-color: white;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 120%;
    height: 1.8em;
    width: 1.8em;
    overflow: hidden;
    border: none;
    z-index: 1;
}

.edit-name:hover {
    color: #fa24fa;
}

.edit-name:active {
    transform: scale(1.01);
}


/* For user details  */

.heading {
    font-size: 2em;
    font-weight: bolder;
    padding-left: 0.8em;
    margin-bottom: 0.3em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.heading section {
    display: flex;
    flex-direction: row-reverse;
}

.user-details-heading,
.financial-heading {
    font-size: 420%;
    font-weight: bold;
    margin-left: 0.2em;
    
}
.user-details-heading{
    font-family: 'Maven Pro', sans-serif;
    background: -webkit-linear-gradient(#fa24fa, #6609B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.user-details {
    width: 85vw;
    height: fit-content;
    margin: 0px auto;
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.user-contact {
    height: fit-content;
    width: inherit;
    /* border: 5px solid goldenrod; */
}

.user-email,
.user-phone,
.user-address-section {
    margin: 1rem;
    padding: 1rem 1rem;
    border: 4px solid transparent;
    box-shadow: 0 0 0.7rem 0px rgba(0, 0, 0, 0.226);
    transition: 0.5s;
    border-radius: 0.5rem;
}

.user-email:hover,
.user-phone:hover,
.user-address-section:hover {
    border: 4px solid #fa24fa;
    box-shadow: 0 0 0.7rem 0px rgba(0, 0, 0, 0.377);
    transform: scale(1.02);
}
.user-email section,
.user-phone section,
.user-address-section section {
    padding: 5px 0;
}
.user-email p,
.user-phone p {
    font-size: var(--general-font);
    padding-left: var(--left-spacing);
}


/* .user-address-section div {
    margin-top: 1em;
} */

.user-address-section div p {
    font-size: var(--general-font);
    padding-left: var(--left-spacing);
}


/* For save changes button  */

.save-change-btn {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 120%;
    background-color: black;
    color: white;
    padding: 0.3em 0.5em;
    font-weight: bolder;
    border-radius: 0.2em;
}

.hide-btn {
    display: none;
}

.save-change-btn:active {
    color: rgb(0, 201, 201);
}


/* For financial info  */

.financial-info {
    background: white;
    border-radius: 0.5rem;
    margin: 6rem 2rem;
    border: 4px solid transparent;
    box-shadow: 0 0 0.7rem 0px rgba(0, 0, 0, 0.226);
    transition: 0.5s;
}

.financial-info:hover {
    border: 4px solid #fa24fa;
    box-shadow: 0 0 0.7rem 0px rgba(0, 0, 0, 0.377);
    transform: scale(1.02);
}

.financial-heading {
    margin-top: 15px;
    font-size: 2.2em;
    text-align: center;
}

.financial-item-list {
    width: 65%;
    margin: 0px auto;
}

.fin-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5em 0px;
}

.fin-item p {
    font-size: 1.5em;
    font-weight: bold;
}

.fin-item-value {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}


/* Log out section  */

.log-out-section {
    margin-right: 2rem;
    margin-top: auto;
    text-align: right;
}

#log-out-btn {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    border: 4px solid transparent;
    border-radius: 5px;
    font-size: 1.4em;
    background-color: #d63031;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}
#log-out-btn:hover {
    background-color: #ff7675;
    border: 4px solid #d63031;
}

@media screen and (max-width: 450px) {
     :root {
        --left-spacing: 0px;
        --general-font: 1.2em;
    }
    .user-details-heading {
        font-size: 3em;
    }
    .user-details {
        display: flex;
        flex-direction: column;
        padding: 1em 0px;
    }
    .heading {
        font-size: 1.5em;
        padding-left: 0px;
    }
    .financial-info {
        width: 100w;
        margin: 1em 0px;
    }
    .financial-item-list {
        width: fit-content;
    }
    .fin-item p {
        font-size: 1.4em;
    }
    .financial-heading {
        text-align: center;
    }
}