@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Nunito Sans';
}

.hidden {
    display: none;
}

i {
    vertical-align: middle;
}

hr {
    width: 83.5%;
}

.hr1 {
    width: 80%;
    height: 0.1em;
    background-color: black;
    margin: auto;
    margin-bottom: 0.5em;
}

.hr2 {
    width: 80%;
    height: 0.04em;
    background-color: rgb(189, 189, 189);
    margin: auto;
    margin-bottom: 0.5em;
}


/* Input section of the container */

.heading {
    margin-left: 11%;
    font-size: 2.5em;
    font-weight: bolder;
}

.input-section,
.product-section {
    margin: 5em auto;
}

.input-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 0.1em;
    margin: auto;
    font-size: 2em;
}

.input-form input {
    margin-right: 0.7em;
    padding: 0.07em 1em;
    padding-right: 0px;
    font-size: 0.9em;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}

.product-name {
    width: 11em;
}

.product-price {
    width: 3em;
}

.product-quantity {
    width: 5em;
}

.additional-data {
    width: 14em;
}

.add-product-btn {
    font-size: 0.6em;
    background-color: black;
    color: rgb(240, 240, 240);
    font-weight: bolder;
    padding: 0.1em 0.5em;
    border-radius: 5px;
}

.add-product-btn:active {
    transform: scale(0.95);
    color: white;
}


/* when the list is empty */

.empty-list {
    margin-top: 2em;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}


/* Product section of the container  */

.product-name-list {
    width: fit-content;
    margin: 0px auto;
    text-align: center;
}

.product-item {
    display: grid;
    grid-template-columns: 33% 18% 16% 37%;
    width: fit-content;
    justify-content: flex-start;
    margin: 0px auto;
    margin-left: -5%;
    text-align: center;
}

.product-item p {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.item-name {
    width: 23vw;
    padding-left: 6%;
}

.item-price {
    width: 12vw;
}

.item-quantity {
    width: 10vw;
}

.item-additional-info {
    width: 27vw;
}

.product-list-container {
    padding-left: 4%;
}

.product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -21%;
}

.item {
    display: grid;
    grid-template-columns: 30% 15% 15% 32% 5% 5%;
    margin-top: 0.2em;
    margin-left: 14%;
    padding-bottom: 0.2em;
    padding-right: 0px;
    outline: none;
    border-bottom: 1px solid black;
    width: fit-content;
    text-align: center;
}

.item p {
    margin-right: 0.7em;
    text-align: center;
    font-size: 1.7em;
}

.name {
    width: 20vw;
}

.price {
    width: 10vw;
    padding-left: 2%;
}

.quantity {
    width: 11vw;
}

.additional-info {
    width: 25vw;
}

.edit-item,
.delete-item,
.save-item {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    font-size: 1.8em;
    margin-right: 0.7em;
    padding-top: 0.1em;
    opacity: 0.7;
}

.save-item {
    display: none;
    font-weight: 900;
}

.edit-item {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

.edit-item:hover,
.delete-item:hover {
    opacity: 1;
    transform: scale(1.01);
    text-shadow: 1px 0px 1px 5px black;
}

.edit-mode {
    border: 2px solid black;
    border-radius: 3px;
}

@media screen and (max-width: 450px) {
    .heading {
        font-size: 2em;
    }
    .input-form {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        margin: 0px auto;
        width: 80%;
    }
    .input-form input {
        width: 100%;
        margin-top: 1em;
        padding-left: 0px;
    }
    .add-product-btn {
        margin: 1em auto;
        width: 60%;
        font-size: 0.8em;
    }
    .product-item,
    .product-name-list,
    .product-heading-container {
        width: 100%;
        padding-left: 0px;
    }
    .product-item p {
        font-size: 1em;
        margin-right: 0.3em;
    }
    .item-name {
        width: 17vw;
        margin-right: 0.2em;
    }
    .item-price {
        width: 15vw;
    }
    .item-quantity {
        width: 20vw;
    }
    .item-additional-info {
        width: 30vw;
    }
    .hr2 {
        width: 90%;
    }
    .item {
        width: 80%;
    }
    .item p {
        font-size: 1em;
        text-align: center;
    }
    /* Each list item */
    .name {
        width: 21vw;
    }
    .price {
        width: 15vw;
    }
    .quantity {
        width: 20vw;
    }
    .additional-info {
        width: 25vw;
    }
    .edit-item,
    .delete-item,
    .save-item {
        font-size: 1em;
        width: max-content;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 0.8em;
        margin-left: auto;
    }
    .footer {
        position: absolute;
        bottom: 0px;
    }
}