@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Ubuntu:wght@700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}

.hidden {
    display: none;
}

i {
    vertical-align: middle;
}

hr {
    width: 83.5%;
}

.hr1 {
    width: 80%;
    height: 0.1em;
    background-color: black;
    margin: auto;
    margin-bottom: 0.5em;
}

.hr2 {
    width: 80%;
    height: 0.04em;
    background-color: rgb(189, 189, 189);
    margin: auto;
    margin-bottom: 0.5em;
}


/* Input section of the container */

.heading {
    width: fit-content;
    margin: 0.1rem auto;
    font-family: 'Maven Pro', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    background: -webkit-linear-gradient(#fa24fa, #7823e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-section,
.product-section {
    margin: 5em auto;
}

.input-form {
    /* border: 2px solid black; */
    box-shadow: 0 0 10px #fa24fa;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2em;
    padding: 20px;
}

.input-form span {
    font-weight: bolder;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0.4rem 0;
}

.input-form label {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    padding-right: 20px;
}
.input-form label:nth-child(4) {
    align-items:baseline;
}

.input-form input,
.input-form textarea {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.418);
    font-size: 0.6em;
    outline: none;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.103);
    padding: 0.4rem;
    border: 4px solid transparent;
    transition-duration: 0.5s;
}
.input-form input:hover,
.input-form textarea:hover{
    background: white;
    border: 4px solid #fa24fa;
}

.input-form textarea {
    text-align: left;
}
.category {
    font-family: 'Lato', sans-serif;
    background: rgba(0, 0, 0, 0.103);
    width:100%;
    font-size: 0.6em;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.418);
    outline: none;
    text-align-last: center;
    align-items: center;
    border: 4px solid transparent;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition-duration: 0.5s;
}

.category:hover{
    background: white;
    border: 4px solid #fa24fa;
    color: black;
}


.add-btn-class{
    display: flex;
    align-items: flex-end;
}
.add-product-btn {
    font-size: 0.6em;
    background: linear-gradient(to right, #fa24fa,#6609B8 );
    box-shadow:0 0 10px rgba(0, 0, 0, 0.322);
    color: rgb(240, 240, 240);
    font-weight: bolder;
    width: fit-content;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 0.5em;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 4px solid white;
}
.add-product-btn:hover {
    border: 4px solid #fa24fa;
    background: white;
    color: black;
}

.add-product-btn:active {
    transform: scale(0.95);
    color: white;
}


/* when the list is empty */

.empty-list {
    margin-top: 2em;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}


/* Product section of the container  */

.product-name-list {
    width: fit-content;
    margin: 0px auto;
    text-align: center;
}

.product-item {
    display: grid;
    grid-template-columns: 33% 18% 16% 37%;
    width: fit-content;
    justify-content: flex-start;
    margin: 0px auto;
    margin-left: -5%;
    text-align: center;
}

.product-item p {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.item-name {
    width: 23vw;
    padding-left: 6%;
}

.item-price {
    width: 12vw;
}

.item-quantity {
    width: 10vw;
}

.item-additional-info {
    width: 27vw;
}

.product-list-container {
    padding-left: 4%;
}

.product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -21%;
}

.item {
    display: grid;
    grid-template-columns: 30% 15% 15% 32% 5% 5%;
    margin-top: 0.2em;
    margin-left: 14%;
    padding-bottom: 0.2em;
    padding-right: 0px;
    outline: none;
    border-bottom: 1px solid black;
    width: fit-content;
    text-align: center;
}

.item p {
    margin-right: 0.7em;
    text-align: center;
    font-size: 1.7em;
}

.name {
    width: 20vw;
}

.price {
    width: 10vw;
    padding-left: 2%;
}

.quantity {
    width: 11vw;
}

.additional-info {
    width: 25vw;
}

.edit-item,
.delete-item,
.save-item {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    font-size: 1.8em;
    margin-right: 0.7em;
    padding-top: 0.1em;
    opacity: 0.7;
}

.save-item {
    display: none;
    font-weight: 900;
}

.edit-item {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

.edit-item:hover,
.delete-item:hover {
    opacity: 1;
    transform: scale(1.01);
    text-shadow: 1px 0px 1px 5px black;
}

.edit-mode {
    border: 2px solid black;
    border-radius: 3px;
}

.card {
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:40%;
    margin: 1rem;
    height: fit-content;
    border: 4px solid transparent;
    border-radius: 0.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    transition-duration: 0.4s;
    padding: 0.6rem;
}

.card:hover {
    border: 4px solid #fa24fa;
    transform: scale(1.01);
}

.card{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 8fr 2fr;
    /* grid-auto-flow: row; */
}
.cardInfo{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 6fr;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    justify-self: center;
    align-self: center;
}

.cardInfo div{
    display: grid;
    grid-template-columns: 3fr 7fr;
    font-family: 'Lato', sans-serif;
}

.cardInfo div p{
    background: rgba(0, 0, 0, 0.103);
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 2px 0;
    margin-right: 3px;
    margin-left: 5px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.548);
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.cardInfo{
    width: 80%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.card-btns{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
    border-radius: 0.5rem;
}
.garbage{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    display: none;
}

.edit-btn, .delete-btn{
    margin: 8px;
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
    background: linear-gradient(to right, #fa24fa,#6609B8 );
    border: 3px solid white;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(0 0 0 / 35%);
    border-radius: 50%;
}
.edit-btn:hover, .delete-btn:hover {
    color: #000000;
    border: 3px solid #fa24fa;
    background: white;
    /* box-shadow: 0 0 10px #fa24fa; */
}

.read-more {
    background: transparent;
    border: none;
    text-align: left;
}
.read-more:hover{
    text-decoration: underline;
    color: #fa24fa;
}
.addInfo{
    display: none;
}
.addInfo>h3 {
    display: block;
}

@media screen and (max-width: 450px) {
    .card {
        width: fit-content;
        margin: 0.5rem;
        grid-template-columns:2fr 8fr ;
        /* grid-template-rows: ; */
    }
    .cardInfo{
        width: 100%;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    }
    .card img {
        display: inline-block;
        width: 100%;
        height: auto;
        /* width: 29%; */
    }
    .edit-btn,
    .delete-btn {
        font-size: 1.3rem;
    }
    .delete-btn {
        margin-left: 10px;
    }
    .heading {
        font-size: 2em;
    }
    .input-form {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        margin: 0px auto;
        width: 90%;
    }
    .input-form span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input-form input {
        width: 90%;
        margin-bottom: 0.5em;
        padding-left: 0px;
    }
    .add-product-btn {
        margin: 1em auto;
        width: 60%;
        font-size: 0.8em;
    }
    .product-item,
    .product-name-list,
    .product-heading-container {
        width: 100%;
        padding-left: 0px;
    }
    .product-item p {
        font-size: 1em;
        margin-right: 0.3em;
    }
    .item-name {
        width: 17vw;
        margin-right: 0.2em;
    }
    .item-price {
        width: 15vw;
    }
    .item-quantity {
        width: 20vw;
    }
    .item-additional-info {
        width: 30vw;
    }
    .hr2 {
        width: 90%;
    }
    .item {
        width: 80%;
    }
    .item p {
        font-size: 1em;
        text-align: center;
    }
    /* Each list item */
    .name {
        width: 21vw;
    }
    .price {
        width: 15vw;
    }
    .quantity {
        width: 20vw;
    }
    .additional-info {
        width: 25vw;
    }
    .edit-item,
    .delete-item,
    .save-item {
        font-size: 1em;
        width: max-content;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 0.8em;
        margin-left: auto;
    }
}

@media screen and (max-width: 1634px) {
    .card {
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .cardInfo{  
        grid-template-rows: 2fr 2fr 2fr 6fr;
    }
    .read-more{
        display: none;
    }
    .addInfo{
        display:grid;
    }
    /* .addInfo{
        overflow: scroll;
    } */
    .card img {
        height: auto;
        width: 29%;
    }
    .edit-btn,
    .delete-btn {
        font-size: 1.3rem;
    }
    .delete-btn {
        margin-left: 10px;
    }
}

@media screen and (max-width: 810px) {
    .card{
        width: 90vw;
    }
}
/* @media screen and (min-width: 1634px) {

} */