@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Nunito Sans'
}

:root {
    --left-spacing: 1em;
    --general-font: 1.5em;
    --font-color: rgb(255, 255, 255);
}

.navbar {
    background: transparent;
}

i {
    vertical-align: middle;
}

.fa-store,
.fa-phone,
.fa-envelope-o,
.fa-home,
.fa-coins {
    color: #000000;
}

.fa-phone {
    transform: rotate(90deg);
}

.fa-pencil-square-o:hover {
    color: #FA24FA;
}

.fa-pencil-square-o {
    color: #000000;
}

[contenteditable] {
    outline: 0px solid transparent;
}


/* For image section  */

.image-container {
    width: 100vw;
    height: fit-content;
    background: linear-gradient(to bottom right, #6609B8, #FA24FA);
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    box-shadow: 0 0 15px black;
}

.image-container img {
    height: 10em;
    width: 10em;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px black;
}

.name-section {
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0.1em 2em;
}

.name-section h2 {
    text-align: center;
    color: white;
    font-size: 250%;
}

.edit-name {
    background-color: white;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 120%;
    height: 1.8em;
    width: 1.8em;
    overflow: hidden;
    border: none;
}

.edit-name:hover {
    color: #FA24FA;
}

.edit-name:active {
    transform: scale(1.01);
}


/* For user details  */

.heading {
    font-size: 2em;
    font-weight: bolder;
    padding-left: 0.8em;
    margin-bottom: 0.3em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.heading section {
    display: flex;
    flex-direction: row-reverse;
}

.user-details-heading,
.financial-heading {
    font-size: 420%;
    font-weight: bold;
    margin-left: 0.2em;
}

.user-details {
    width: 85vw;
    height: fit-content;
    margin: 0px auto;
    padding: 1em 1em;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.user-contact {
    height: fit-content;
    width: inherit;
}

.user-email,
.user-phone,
.user-address-section {
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    color: black;
    border: 2px solid transparent;
    box-shadow: 0 0 0.7rem 0px rgba(0, 0, 0, 0.226);
    transition: 0.5s;
}

.user-contact {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.user-email:hover,
.user-phone:hover,
.user-address-section:hover {
    border: 2px solid #FA24FA;
    box-shadow: 0 0 0.7rem 0px rgba(0, 0, 0, 0.377);
    transform: scale(1.02);
}

.user-email span,
.user-phone span,
.user-address-section span {
    color: black;
}

.user-email p,
.user-phone p {
    font-size: var(--general-font);
    padding-left: var(--left-spacing);
}

.user-address-section div {
    margin-top: 1rem;
}

.user-address-section div p {
    font-size: var(--general-font);
    padding-left: var(--left-spacing);
}


/* For save changes button  */

.save-change-btn {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 110%;
    background: linear-gradient(to right bottom, #6609B8, #FA24FA);
    color: white;
    padding: 1rem 1rem;
    font-weight: bolder;
    border-radius: 2rem;
    transition: 1s;
    border: none;
}

.save-change-btn:hover {
    background: black;
    cursor: pointer;
}

.hide-btn {
    display: none;
}

.save-change-btn:active {
    color: black;
}


/* For financial info  */

.financial-info {
    background: white;
    border-radius: 0.5rem;
    margin: 6rem 2rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0.7rem 0px rgba(0, 0, 0, 0.226);
    transition: 0.5s;
}

.financial-info:hover {
    border: 2px solid #FA24FA;
    box-shadow: 0 0 0.7rem 0px rgba(0, 0, 0, 0.377);
    transform: scale(1.02);
}

.financial-heading {
    margin-top: 15px;
    font-size: 2.2em;
    text-align: center;
}

.financial-item-list {
    width: 65%;
    margin: 0px auto;
}

.fin-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5em 0px;
}

.fin-item p {
    font-size: 1.5em;
    font-weight: bold;
}

.fin-item-value {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 450px) {
     :root {
        --left-spacing: 0px;
        --general-font: 1.2em;
    }
    .user-details-heading {
        font-size: 3em;
    }
    .user-details {
        display: flex;
        flex-direction: column;
        padding: 1em 0px;
    }
    .heading {
        font-size: 1.5em;
        padding-left: 0px;
    }
    .financial-info {
        width: 100w;
        margin: 1em 0px;
    }
    .financial-item-list {
        width: fit-content;
    }
    .fin-item p {
        font-size: 1.4em;
    }
    .financial-heading {
        text-align: center;
    }
}

hr {
    color: black;
}